.App {
  text-align: center;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #5f6262;
}
h1 {
    color: #2aa8a8;
    font-size: 3rem;
}
h2 {
    color: #2aa8a8;
    font-size: 2.5rem;
}
body{
  background-color: #fbfbfb;
}

@media only screen and (max-width: 600px){

}